<ion-header class="main__header">
  <ion-toolbar class="main__header-tb" color="primary">
    <ion-grid>
      <ion-row class="main__header-grid">
        <ion-col class="main__header-greeting">
          <ion-title *ngIf="user$">Hi, {{user$.username}}</ion-title>
        </ion-col>      
        <ion-col size="2">
          <app-logout-button class="main__header-logout"></app-logout-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content class="main__content">
  <ion-list class="main__content-list" *ngIf="phrases$" color="secondary">
    <ion-card class="main__content-newPhrase" *ngIf="(checkPhraseInput(phrases$)) === true">
      <ion-label position="stacked">What made you grateful today?</ion-label>
      <ion-textarea #phraseText [formControl]="text" (input)="text.setValue(phraseText.value)" ></ion-textarea>
      <ion-button (click)="postPhrase()">Confirm</ion-button>
    </ion-card>
    <ion-text class="main__content-existingPhrase" *ngIf="(checkPhraseInput(phrases$)) === false">
      <h1>You've already written today! :)</h1>
    </ion-text>
    <ion-card 
      button="true" 
      class="main__content-card" 
      *ngFor="let item of phrases$" 
      (click)="presentActionSheet(); currentPhraseId = item.id">
      <ion-grid class="main__content-cardGrid">
        <ion-row>
          <ion-col class="main__content-phrase">
            <h2>{{ item.content }}</h2>
          </ion-col>
          <ion-col class="main__content-date" size="3">
            <div>
              <p>{{ item.date | date: 'mediumDate' }}</p>
              <p>{{ item.date | date: 'shortTime'}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card>

  </ion-list>
</ion-content>