<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user$">Hi, {{user$.name}}</ion-title>
    <app-logout-button></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list padding *ngIf="phrases$">
    <ion-item padding *ngFor="let item of phrases$" (click)="presentActionSheet(); currentPhraseId = item.id">
      <h2>{{ item.content }}</h2>
      <p>{{ item.date | date: 'short' }}</p>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="newPhraseState">
    <ion-label position="stacked">What made you grateful today?</ion-label>
    <ion-textarea #phraseText [formControl]="text" (input)="text.setValue(phraseText.value)" ></ion-textarea>
    <ion-button (click)="postPhrase()">Confirm</ion-button>
  </ion-item>
  <ion-item *ngIf="!newPhraseState">
    <h1>You've already written today! :)</h1>
  </ion-item>
</ion-content>