.main__header{
  &-tb{
    padding: 0;
  }
  &-grid{
    margin: 0 auto;
    width: 90%;
    max-width: 550px;
  }
  &-logout{
    cursor: pointer;
  }
  &-greeting{
    ion-title{
      padding: 0;
    }
    margin: auto 0;
    word-break: break-all;
    max-width: 80%;
  }
}

.main__content{
  &-list{
    background-color: var(--ion-color-secondary);
    display: flex;
    flex-direction: column;    
    align-items: center;
    min-height: 100%;
  }
  &-card{
    display: flex;
    width: 90%;
    padding-left: 1em;  
    max-width: 550px;  
  }
  &-newPhrase{
    width: 90%;
    padding: 1em;
    margin: 1em 10vw;
    max-width: 550px;
  }
  &-existingPhrase{
    color: var(--ion-color-light)
  }
  &-phrase{
    padding-right: 1em;
  }
  &-date{
    padding: 1em 1em 1em 0.5em;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light-shade);
    text-align: end;
  }
  &-cardGrid{
    padding: 0;
  }
}